@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Action A/B Testing</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>@ViewBag.Message</h1>
        <p>This view is Index.cshtml</p>
    </div>
</div>