@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC A/B Testing</h1>
    <p class="lead">This is from preview.</p>
    <p><a href="http://asp.net" class="btn btn-danger btn-lg">Learn more &raquo;</a></p>
</div>

